<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.akura">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MaintenanceUpdate"></activity>
        <activity android:name=".MaintenanceListing" />
        <activity android:name=".SoftUpdate" />
        <activity android:name=".SoftListing" />
        <activity android:name=".ItemListing" />
        <activity android:name=".MaintenanceAdd" />
        <activity android:name=".Maintenance" />
        <activity android:name=".SoftAdd" />
        <activity android:name=".SoftAsset" />
        <activity android:name=".ItemAdd" />
        <activity android:name=".ItemUpdate" />
        <activity android:name=".HardAsset" />
        <activity android:name=".Reservation" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Logo" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Login" />
        <activity android:name=".LogOrReg" />
        <activity android:name=".Register" />
    </application>

</manifest>